body {
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    background-color: blueviolet;
    width: 500px;
    height: 150px;
    display: grid;
    justify-content: center;
    border-bottom: 10px solid rgb(246, 240, 240);
}